section {
  margin-top: 40px;
}

#navbar ul.nav {
  text-transform: uppercase;
  font-size: 18px;
  height: 7.5rem;      //instead of % to get 100% height if its impossible using percents
  display: flex;       // vertical alignment
  align-items: center;
  margin-right: 30px;
}

#formErrors {
  padding: 10px;
  list-style: none;
}

#flash {
  position: fixed;
  top: 10vh;
  left: 15vw;
  width: 70vw;
}

