section {
  margin-top: 40px;
}

#navbar ul.nav {
  text-transform: uppercase;
  font-size: 18px;
  height: 7.5rem;      //instead of % to get 100% height if its impossible using percents
  display: flex;       // vertical alignment
  align-items: center;
  margin-right: 30px;
}

#formErrors {
  padding: 10px;
  list-style: none;
}

#flash {
  position: fixed;
  top: 10vh;
  left: 15vw;
  width: 70vw;
}

#addCrew {
  margin: 70px 0;
  button{
    margin-left: 20px;
  }
}

#addCrew .form-group {
  margin-left: 20px;
  label{
    margin-right: 5px;
  }
}


#crewsTable{
  margin-top:50px;
}

#createCrew {
  margin-top: 20px;
}

.crew, .task {
  color: #666666;
  padding: 10px;
  margin-top: 15px;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
}

.crew:hover, .task {
  background: #eeeeee;
  text-decoration: none;
}

.delete-task{
  height: 20px;
  width: 20px;
  padding:0;
  background: rgba(221, 6, 0, 0.46);
}



